*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.lof
*.lot
*.loa
*.loq
*.idx
*.ind
*.ilg
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
/main.pdf
/documento.pdf
/.latexmk-watch.pid
.DS_Store
Makefile